# dependencies
/node_modules
/.pnp
.pnp.*

# next.js
/.next/
/out/
/build

# production
next-env.d.ts

# environment
.env
.env*.local

# prisma
/prisma/*.db
/prisma/*.db-journal

# testing
/coverage

# misc
.DS_Store
*.pem
*.tsbuildinfo

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# vercel
.vercel

# editors
.idea
.vscode/*
!.vscode/extensions.json

# local tooling
/.prisma-home/
/test-results/
/playwright-report/
